html,
body {
  line-height: 24px;
  height:100%;
}

a {
  color: inherit;
  cursor: inherit;
  &:hover {
    text-decoration: inherit;
    color: inherit;
  }

  &:focus {
    color: inherit;
  }
}

abbr {
  display: none;
}