.big-bold-button {
  width: 100%;
  max-width: 175px;
  font-weight: bold;
  font-size: large;
  margin-bottom: 15px;
}

.facebook-style {
  background-color: #3B5998;
  padding: 10px 20px;
  font-size: 17px;
}

.grey-button {
  background-color: #DDDDDD;
}