@mixin light-spacing {
  margin: 3px;
  padding: 3px;
}

@mixin medium-padding {
  padding: 10px;
}

@mixin heavy-padding {
  padding: 20px;
}

.comment-spacing {
  @include light-spacing;
  margin-top: 8px;
}