.comment-filter {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #ED5353;
  }
}

#comment-filters {
  @include space-between;

  margin-top: 15px;
  width: 125px;
}