<div class="project-comment">
  <div>
    <div><strong><%= comment.user.full_name %></strong></div>
    <div><strong><%= comment.number_of_likes %></strong><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
  </div>
  <div><%= comment.content %></div>
  <%= render partial: "reply", collection: comment.replies %>
</div>