<div id="comment-section"> <!-- project comments container -->
  <h2>Comments</h2>
  <div id="comment-filters"><span>New</span><span>Top</span><span>Active</span></div>
  <%= render partial: "comment", collection: @comments %>
</div>