<div class="large-container" style="margin-left: 30px;">
  <div><strong><%= reply.user.full_name %></strong></div>
  <div>Likes: <strong><%= reply.number_of_likes %></strong></div>
  <div><%= reply.content %></div>
</div>