<div class="project-reply project-comment">
  <div>
    <div><strong><%= reply.user.full_name %></strong></div>
    <div>Likes: <strong><%= reply.number_of_likes %></strong></div>
  </div>
  <div><%= reply.content %></div>
</div>