<div class="project-reply project-comment">
  <div>
    <div><strong><%= reply.user.full_name %></strong></div>
    <div><strong><%= reply.number_of_likes %></strong><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
  </div>
  <div><%= reply.content %></div>
</div>