#navbar {
  background-color: $primary-color;
  margin-bottom: 20px;

  &> div {
    @include space-between;

    height: 125px;

    // Navbar right
    &:first-child {

    }

    // Navbar left
    &:last-child {
      &> div {
        @include space-between;

        // The "or" between sign in and sign up
        &> p {
          margin: 0 10px;
          font-size: 18px;
        }
      }
    }
  }
}