#navbar {
  background-color: $primary-color;
  &> div {
    @include space-between;

    max-width: $main-wrapper-width;
    padding: 0 10px;
    height: 125px;
    margin: 0 auto;

    h1, h3 {
      @include bold-secondary;
    }
  }
}